@model WebDemo.Models.XacNhan
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using (Html.BeginForm())
{
    <h2 class="btn-warning ">Xác nhận thông tin</h2>
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.HiddenFor(model => model.Email)


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Hoten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="tel" required class="form-control" value="@Model.PhoneNumber" id="Tel" name="PhoneNumber" />
                <p class="text-danger" style="display:none" id="Errorsdt">Số điện thoại không hợp lệ!!!</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" id="BtnSave" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/controller/LockTelephone.js"></script>

